body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.8em;

}

body{
    overflow-x: hidden;
}



/* Navbar */

.navbar-brand{
    color: white !important;
    font-weight: 700;
}

.nav-link{
    color: white !important;
    font-weight: 700;
}

/* .nav-link.active, */
.nav-link:hover{
    color: #feb062 !important;
    
}


.navbar-brand{
    font-size: x-large !important;
}

.nav-item a{
    margin-left: 0.7rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}



/* CSS for Hide Nav on scroll */
.smart-scroll{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
  .scrolled-down{
     transform:translateY(-100%); transition: all 0.3s ease-in-out;
  }
  .scrolled-up{
     transform:translateY(0); transition: all 0.3s ease-in-out;
  }






/* Background Image Styles */

.home-bg, .first-bg, .second-bg, .third-bg{
    position: relative;
    background-position: center;
    background-size: cover;

    background-repeat: no-repeat;

    /* parralax effect */
    background-attachment: fixed;
}



.home-bg{
    /* background-image: url(../images/action-blur-bulb-dark-355904.jpg); */
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4)),url(../images/action-blur-bulb-dark-355904.jpg);
    min-height: 100%;
}


.first-bg{
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(../images/computer-desk-196658.jpg);
    min-height: 450px;
}


.second-bg{
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(../images/black-twin-bell-alarm-desk-clock-on-table-714701.jpg);
    min-height: 450px;
}


.third-bg{
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url(../images/background.jpg);
    min-height: 450px;
}



/* Content Styles */


.section-content{
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.section-content h1{
    font-size: 3.2rem;
    margin-bottom: 2rem;
}

.section-content h3{
    font-size: 2rem;
    color: #feb062;
    margin-bottom: 1rem;
}

.section-content p{
    font-size: 1.1rem;
}






/* About me Section */

#about{
    background-color: #161511;
}

#about .aboutme-text{
    color: white;
    padding-top: 2rem;
}

#about .skills{
    position: relative;
    min-width: 100%;
}





/* Skills Section */

#skills{
    background-color: #161511;
}

#skills h3{
    text-align: center;
    color: white;
    padding-top: 1rem;
    margin-bottom: 2rem;

}



#skills .progress{

    height: 1.2rem;
    margin-bottom: 1rem;
    background-color: transparent;
    border: 0.1rem #d57515 solid;
    
}

#skills h6{
    color: white;
}



#skills .progress-bar{
    
    background-color: #d57515;
}







/* Contact area styles */

#contact{
    border-top: 0;
    padding-top: 0;
}


.contact-section{
    color: white;
    height: 100%;
}


.contact-form-wrapper{
    padding-top: 5rem;

}


.contact-section h2{
    text-align: center;
    padding: 3rem 0rem;
}
.contact-section h3{
    padding-bottom: 1rem;
}


.contact-detail{
    padding-bottom: 1.5rem;
}

#contact .form-control{
    background: transparent;
    border: none;
    border-bottom: #e2e2e2 2px solid;
    color: #fff;
}

#contact .btn{
    background-color: #d57515;
    border-color: transparent;
    height: 3rem;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 100%;
    
}

#contact .btn:hover{
    background-color: #feb062;
    border-color: #feb062;
    padding: 0rem 2rem;
}


/* Footer Styles */

.footercontainer{
    color: white;
    background-color: rgb(15, 11, 11);
    text-align: center;
}




  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    .section-content h1{
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    
    .section-content h3{
        font-size: 1.5rem;
        margin-bottom: 0.7rem;
    }

    #home p{
        font-size: 1rem;
    }


    /* About me */


    .aboutme-text ul{
        font-size: 0.9rem;
        padding-top: 1rem;
    }
    

    /* Contact Area */

    #contact > div:nth-child(1) > h2{

        padding-top: 6rem;
    }


    .first-bg, .second-bg, .third-bg{

        display: none;
    }
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    .section-content h1{
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    
    .section-content h3{
        font-size: 1.5rem;
        margin-bottom: 0.7rem;
    }

    #home p{
        font-size: 1rem;
    }


    /* About me */


    .aboutme-text ul{
        font-size: 0.9rem;
        padding-top: 1rem;
    }
    

    /* Contact Area */

    #contact > div:nth-child(1) > h2{

        padding-top: 6rem;
    }


    .first-bg, .second-bg, .third-bg{

        display: none;
    }
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    #contact-details{

        padding-top: 3rem;
    }


    .contact-section h2{

        text-align: center;
        padding: 0.5rem;
    
    }


    #contact > div.container.contact-form-wrapper{

        padding-top: 1rem;
    }

    .first-bg, .second-bg, .third-bg{

        display: none;
    }


    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {


    
    .section-content h1{
        font-size: 1.7rem;
        margin-bottom: 2rem;
    }
    
    .section-content h3{
        font-size: 1.5rem;
        margin-bottom: 0.7rem;
    }

    #contact-details{
        display: none;
    }

    .first-bg, .second-bg, .third-bg{

        display: none;
    }


    
  }



/* iPad Pro (Landscape) Remove Parallax effect */

@media (min-width: 1366px) and (min-height: 1024px) and (orientation: landscape){

    .first-bg, .second-bg, .third-bg{

        display: none;
    }

}



/* iPhone X (Landscape) */

@media only screen 
    and (max-height : 414px) 
    and (min-width : 812px)
    and (orientation: Landscape){

        #contact > div:nth-child(1) > h2{

            padding: 0.5rem 0;

        }

        #contact-details{
            padding-top: 2rem;
        }


        #contact > div.container.contact-form-wrapper{

            padding-top: 0;

        }


    }





/* iPhone 5 (Landscape)*/

@media only screen 
and (max-device-height: 320px)
and (max-device-width: 568px)
and (-webkit-device-pixel-ratio: 2) 
and (orientation:landscape){

    #contact > div:nth-child(1) > h2{
        display: none;
    }

    #contact-details{
        display: none;
    }

}





  /* iPhone 4 */

  @media only screen and (min-device-width: 320px)
   and (max-device-width: 480px) 
   and (-webkit-device-pixel-ratio: 2){

    #contact > div.container.contact-form-wrapper{

        padding-top: 1rem;
    }
    
}



