body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.8em;

}

body{
    overflow-x: hidden;
}



/* Navbar */

.navbar-brand{
    color: white !important;
    font-weight: 700;
}

.nav-link{
    color: white !important;
    font-weight: 700;
}

/* .nav-link.active, */
.nav-link:hover{
    color: #feb062 !important;
    
}


.navbar-brand{
    font-size: x-large !important;
}

.nav-item a{
    margin-left: 0.7rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}


/* Background Image Styles */

.home-bg, .first-bg, .second-bg{
    position: relative;
    background-position: center;
    background-size: cover;

    background-repeat: no-repeat;

    /* parralax effect */
    background-attachment: fixed;
}



.home-bg{
    /* background-image: url(../images/action-blur-bulb-dark-355904.jpg); */
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4)),url(../images/action-blur-bulb-dark-355904.jpg);
    min-height: 100%;
}

.first-bg{
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(../images/silver-and-black-laptop-computer-1229861.jpg);
    min-height: 500px;
}

.second-bg{
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url(../images/background.jpg);
    min-height: 500px;
}


/* Content Styles */


.section-content{
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.section-content h1{
    font-size: 3.2rem;
    margin-bottom: 2rem;
}

.section-content h3{
    font-size: 2rem;
    color: #feb062;
    margin-bottom: 1rem;
}

.section-content p{
    font-size: 1.1rem;
}

/* About me Section */

#about{
    background-color: #161511;
}

#about .aboutme-text{
    color: white;
    padding-top: 2rem;
}

#about .skills{
    position: relative;
    min-width: 100%;
}

#about h3{
    text-align: center;
    color: white;
    margin-bottom: 2rem;
}

/* Progress bar styles */

#about .progress{

    height: 1.2rem;
    margin-bottom: 1rem;
    background-color: transparent;
    border: 0.1rem #d57515 solid;
    
}

#about h6{
    color: white;
}



#about .progress-bar{
    
    background-color: #d57515;
}


/*  Animate on page load */
.html-bar{

    animation: html-bar 2s;
}
@keyframes html-bar{
    0%{
        width: 0%;
    }
    100%{
        width: 90%
    }
}




.css-bar{

    animation: css-bar 2s;
}
@keyframes css-bar{
    0%{
        width: 0%;
    }
    100%{
        width: 85%
    }
}


.js-bar{

    animation: js-bar 2s;
}
@keyframes js-bar{
    0%{
        width: 0%;
    }
    100%{
        width: 48%
    }
}



.jquery-bar{

    animation: jquery-bar 2s;
}
@keyframes jquery-bar{
    0%{
        width: 0%;
    }
    100%{
        width: 65%
    }
}



.bootstrap-bar{

    animation: bootstrap-bar 2s;
}
@keyframes bootstrap-bar{
    0%{
        width: 0%;
    }
    100%{
        width: 87%
    }
}



.react-bar{

    animation: react-bar 2s;
}
@keyframes react-bar{
    0%{
        width: 0%;
    }
    100%{
        width: 60%
    }
}



.python-bar{

    animation: python-bar 2s;
}
@keyframes python-bar{
    0%{
        width: 0%;
    }
    100%{
        width: 70%
    }
}




.django-bar{

    animation: django-bar 2s;
}
@keyframes django-bar{
    0%{
        width: 0%;
    }
    100%{
        width: 60%
    }
}


.wordpress-bar{

    animation: wordpress-bar 2s;
}
@keyframes wordpress-bar{
    0%{
        width: 0%;
    }
    100%{
        width: 50%
    }
}


.mysql-bar{

    animation: mysql-bar 2s;
}
@keyframes mysql-bar{
    0%{
        width: 0%;
    }
    100%{
        width: 65%
    }
}



.adobe-bar{

    animation: adobe-bar 2s;
}
@keyframes adobe-bar{
    0%{
        width: 0%;
    }
    100%{
        width: 75%
    }
}


.photography-bar{

    animation: photography-bar 2s;
}
@keyframes photography-bar{
    0%{
        width: 0%;
    }
    100%{
        width: 90%
    }
}




/* Projects */


#projects{
    height: 400px;

}





/* Blog Styles */

#blog{
    height: 400px;
}




/* Contact area styles */

#contact{
    border-top: 0;
    padding-top: 0;
}


.contact-section{
    color: white;
    height: 100%;
}


.contact-form-wrapper{
    padding-top: 5rem;

}


.contact-section h2{
    text-align: center;
    padding: 3rem 0rem;
}
.contact-section h3{
    padding-bottom: 1rem;
}


.contact-detail{
    padding-bottom: 1.5rem;
}

#contact .form-control{
    background: transparent;
    border: none;
    border-bottom: #e2e2e2 2px solid;
    color: #fff;
}

#contact .btn{
    background-color: #d57515;
    border-color: transparent;
    height: 3rem;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 100%;
    
}

#contact .btn:hover{
    background-color: #feb062;
    border-color: #feb062;
    padding: 0rem 2rem;
}


/* Footer Styles */

.footercontainer{
    color: white;
    background-color: rgb(15, 11, 11);
    text-align: center;
}



                /* ------- Media Queries iPad---------- */

@media screen and (max-width: 767px) {

    /* Home Page */

    .section-content h1{
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    
    .section-content h3{
        font-size: 1.5rem;
        margin-bottom: 0.7rem;
    }

    #home p{
        font-size: 1rem;
    }


    /* About me */


    .aboutme-text ul{
        font-size: 0.9rem;
        padding-top: 1rem;
    }
    


    /*  Projects  */

    #projects{
        height: 300px;
    }

  

    /*  Blog  */

    #blog{
        height: 300px;
    }

.first-bg{
           
    min-height: 400px;
}

.second-bg{
 
    min-height: 400px;
}




}


/* ---------- Media Queries for iPhone X--------- */

@media screen and (max-width: 376px) and (max-height: 813px) {

    .section-content h1{
        font-size: 1.7rem;
        margin-bottom: 2rem;
    }
    
    .section-content h3{
        font-size: 1.5rem;
        margin-bottom: 0.7rem;
    }


    /*  Projects  */

    #projects{
        height: 300px;
    }

  

    /*  Blog  */

    #blog{
        height: 300px;
    }

}





/* Media Queries for iPhone 6 and lower */

@media screen and (max-width: 376px) and (max-height: 700px) {

        /* Home Page */

        .section-content h1{
            font-size: 1.5rem;
            margin-bottom: 2rem;
        }
        
        .section-content h3{
            font-size: 1.3rem;
            color: yellow;
            margin-bottom: 0.7rem;
        }
    
        #home p{
            font-size: 0.8rem;
        }
    

        /* Fixed Backgrounds */

        
        .first-bg{
           
            min-height: 300px;
        }

        .second-bg{
         
            min-height: 300px;
        }



     
}

        