body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.8em;

}

body{
    overflow-x: hidden;
}



/* Navbar */

.navbar-brand{
    color: white !important;
    font-weight: 700;
}

.nav-link{
    color: white !important;
    font-weight: 700;
}

.nav-link.active,
.nav-link:hover{
    color: lime !important;
    
}


/* Background Image Styles */

.home-bg, .first-bg, .second-bg{
    position: relative;
    background-position: center;
    background-size: cover;
    /* opacity: 0.80; */

    background-repeat: no-repeat;

    /* parralax effect */
    background-attachment: fixed;
}



.home-bg{
    /* background-image: url(../images/action-blur-bulb-dark-355904.jpg); */
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4)),url(../images/action-blur-bulb-dark-355904.jpg);
    min-height: 100%;
}

.first-bg{
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(../images/silver-and-black-laptop-computer-1229861.jpg);
    min-height: 500px;
}

.second-bg{
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url(../images/background.jpg);
    min-height: 500px;
}


/* Content Styles */

.navbar-brand{
    font-size: x-large !important;
}

.nav-item a{
    margin-left: 0.7rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

.section-content{
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.section-content h1{
    font-size: 4rem;
    margin-bottom: 2rem;
}

.section-content h3{
    font-size: 2rem;
    color:lime;
    margin-bottom: 1rem;
}


/* About me Section */

.aboutme-text h4{
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.aboutme-text p{
    padding-left: 1rem;
}

.aboutme-text ul{
    padding-top: 1rem;
}


/* Services */


#services .service{

    color: black;
    margin-top: 2rem;
    padding: 3rem;
}

.service h3{
    margin-bottom: 2rem;
    margin-left: 2.5rem;
    white-space: nowrap;
}



/* Landscape Image Cropping */
.service .circular-landscape{
    display: inline-block;
    position: relative;
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 50%;
    border: white 0.5rem solid;
}

.service .circular-landscape img{
    width: auto;
    height: 100%;
    margin-left: -100px;
}

/* Portrait Image Cropping */

.service .circular-portrait{
    display: inline-block;
    position: relative;
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 50%;
    border: white 0.5rem solid;
}

.service .circular-portrait img{
    width: 100%;
    height: auto;
    margin-top: -25%;
}


.retouch-img{
    display: inline-block;
    position: relative;
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 50%;
    border: white 0.5rem solid;
}

.retouch-img img{
    width: 100%;
    height: auto;
}


/* Services Button Styles */

.service .btn{
    margin-left: 4rem;
    margin-top: 1rem;
    background-color: rgb(75, 214, 75);
    font-weight: 600;
}

.service .btn:hover{
    margin-left: 4rem;
    margin-top: 1rem;
    background-color: rgb(37, 107, 37);
    font-weight: 600;
}



/* Testimonials Styles */

#testimonials{
    color: black
}



.carousel-item{
    padding: 80px;
}

.carousel-item .img-box{
    width: 150px;
    height: 150px;
}

.carousel-item .img-box img{

    width: 100%;
    height: 100%;
    border: honeydew 0.1rem solid;
    border-radius: 50%;

}

.carousel-item .client-comment{
    width: 70%;
    color: white;
    margin-top: 1rem;
    display: inline-block;
    text-align: center;
}

